"*":
  "atom-package-deps":
    ignored: []
  core:
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    tabType: "soft"
  "exception-reporting":
    userId: "33b17f22-9752-a7f4-2b68-41ca49f0c5a1"
  "git-blame":
    columnWidth: 290
    showOnlyLastNames: false
  "linter-haml":
    executablePath: "/Users/grzegorz/.rvm/gems/ruby-2.4.1/bin/haml-lint"
  "linter-rubocop":
    command: "/Users/grzegorz/.rvm/gems/ruby-2.4.1/bin/rubocop"
  "linter-ui-default": {}
  "seti-ui":
    themeColor: "Green"
  "tree-view":
    alwaysOpenExisting: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
